
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i&display=swap');
:root {

/* Override variables */
--font-family-sans-serif: 'Work Sans',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--blue: #4f6da3;
--gray-dark: #404040;
--font-family-serif: Bitter, serif;
/* Page Variables */
--color-medium: #ddd;
--color-reverse: var(--gray-dark);
--color-text: var(--gray-dark);
--color-text-reverse: var(--light);
--color-text: var(--gray-dark);
--font-family-title: var(--font-family-sans-serif);
--font-family-text: var(--font-family-serif);

}

.family-sans {
    font-family: var(--font-family-sans-serif);
}
 body {
    font-family: var(--font-family-text);
    color:var(--color-text);
    font-weight:400;
 }

 .site-header {
     background:url(#);
     background-position:  center bottom;
     background-repeat: no-repeat;
     background-size: cover;
     
 }

 .site-header .layout-hero {
     height:40vh;
 }
.site-header .page-section-title {
    font-size: 3em;
    font-family: var(--font-family-sans-serif);
    font-weight:500;
}

 .layout-social .layout-icon {
    font-size: 2em;
 }
